In [106]:
import pandas as pd
import numpy as np

In [107]:
df = pd.read_csv('dipo.csv')

In [108]:
df.head()

   id  c1  c2  c3  c4  c5  c6  c7  c8    v
0  15   0   0   0   0   0   0   0   0    0
1  16   0   0   0   0   0   0   0   0  227
2  17   0   0   0   0   0   0   0   0  227
3  18   0   0   0   0   0   0   0   0  227
4  19   0   0   0   0   0   0   0   0  227

In [109]:
df = df[['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'v']]
df.head()

   c1  c2  c3  c4  c5  c6  c7  c8    v
0   0   0   0   0   0   0   0   0    0
1   0   0   0   0   0   0   0   0  227
2   0   0   0   0   0   0   0   0  227
3   0   0   0   0   0   0   0   0  227
4   0   0   0   0   0   0   0   0  227

In [110]:
df.shape

(449, 9)

In [111]:
df.values

array([[  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0, 227],
       [  0,   0,   0, ...,   0,   0, 227],
       ...,
       [  0,   0,   0, ...,   0,   0, 227],
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0]])

In [112]:
SEQ_LEN = 10

X = df.values
y = df.values[SEQ_LEN:]

X_new = []
for t in range(X.shape[0]-(SEQ_LEN)):
    X_new.append(X[t:t+SEQ_LEN])
X_new = np.array(X_new)

X_new.shape, y.shape

((439, 10, 9), (439, 9))

In [113]:
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization, Input, LSTM
import tensorflow as tf

In [114]:
inputs = Input(shape=(X_new.shape[1], X_new.shape[2]))

x = LSTM(16, activation='tanh', unroll=True, dropout=0.3, recurrent_dropout=0.3)(inputs)

x = Dense(16, activation='relu')(x)
x = BatchNormalization()(x)

outputs = Dense(y.shape[1])(x)

model = tf.keras.Model(inputs, outputs)

WARNING:tensorflow:Layer lstm_8 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

WARNING:tensorflow:Layer lstm_8 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

In [124]:
model.compile(loss = 'mse', optimizer = tf.keras.optimizers.legacy.Adam(1) , metrics = ["accuracy"])

In [125]:
model.summary()

Model: "model_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_9 (InputLayer)        [(None, 10, 9)]           0

 lstm_8 (LSTM)               (None, 16)                1664

 dense_19 (Dense)            (None, 16)                272

 batch_normalization_11 (Bat  (None, 16)               64
 chNormalization)

 dense_20 (Dense)            (None, 9)                 153

=================================================================
Total params: 2,153
Trainable params: 2,121
Non-trainable params: 32
_________________________________________________________________

In [127]:
history = model.fit(X_new, y,  epochs = 15, validation_split=0.3, batch_size=64)

Epoch 1/15
5/5 [==============================] - 1s 161ms/step - loss: 0.1759 - accuracy: 1.0000 - val_loss: 91.3237 - val_accuracy: 0.9848
Epoch 2/15
5/5 [==============================] - 1s 127ms/step - loss: 0.1700 - accuracy: 1.0000 - val_loss: 91.6937 - val_accuracy: 0.9848
Epoch 3/15
5/5 [==============================] - 1s 123ms/step - loss: 0.1625 - accuracy: 1.0000 - val_loss: 91.8943 - val_accuracy: 0.9848
Epoch 4/15
5/5 [==============================] - 1s 116ms/step - loss: 0.1565 - accuracy: 1.0000 - val_loss: 91.9918 - val_accuracy: 0.9848
Epoch 5/15
5/5 [==============================] - 1s 118ms/step - loss: 0.1671 - accuracy: 1.0000 - val_loss: 92.0314 - val_accuracy: 0.9848
Epoch 6/15
5/5 [==============================] - 1s 153ms/step - loss: 0.1722 - accuracy: 1.0000 - val_loss: 92.1610 - val_accuracy: 0.9848
Epoch 7/15
5/5 [==============================] - 1s 136ms/step - loss: 0.1623 - accuracy: 1.0000 - val_loss: 92.0639 - val_accuracy: 0.9848
Epoch 8/15
5/5 [==============================] - 1s 124ms/step - loss: 0.1499 - accuracy: 1.0000 - val_loss: 92.1731 - val_accuracy: 0.9848
Epoch 9/15
5/5 [==============================] - 1s 115ms/step - loss: 0.1599 - accuracy: 1.0000 - val_loss: 92.2297 - val_accuracy: 0.9848
Epoch 10/15
5/5 [==============================] - 1s 187ms/step - loss: 0.1529 - accuracy: 1.0000 - val_loss: 92.2087 - val_accuracy: 0.9848
Epoch 11/15
5/5 [==============================] - 1s 120ms/step - loss: 0.1801 - accuracy: 1.0000 - val_loss: 92.3342 - val_accuracy: 0.9848
Epoch 12/15
5/5 [==============================] - 1s 122ms/step - loss: 0.2229 - accuracy: 1.0000 - val_loss: 91.8164 - val_accuracy: 0.9848
Epoch 13/15
5/5 [==============================] - 1s 114ms/step - loss: 0.1882 - accuracy: 1.0000 - val_loss: 90.8866 - val_accuracy: 0.9848
Epoch 14/15
5/5 [==============================] - 1s 169ms/step - loss: 0.1995 - accuracy: 1.0000 - val_loss: 90.5349 - val_accuracy: 0.9848
Epoch 15/15
5/5 [==============================] - 1s 146ms/step - loss: 0.1716 - accuracy: 1.0000 - val_loss: 90.3378 - val_accuracy: 0.9848

In [128]:
model.save('simple_model.h5')

In [129]:
X_new[7].shape

(10, 9)

In [130]:
model.predict(np.expand_dims(X_new[7], 0))

1/1 [==============================] - 5s 5s/step

array([[ 2.86729932e-01,  1.12300634e-01,  4.70219254e-02,
         2.06874609e-02, -4.62884545e-01,  1.31356776e-01,
         1.28588617e-01, -1.73610389e-01,  2.24775192e+02]], dtype=float32)